@model CopecoWebSite.Models.Noticia

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdministration";
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Usuarios</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Editar usuario</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <a asp-action="Index" class="btn btn-app">
                                <i class="fa fa-reply"></i> Volver
                            </a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Edit">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                             <input type="hidden" asp-for="Id" />
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Titulo de noticia<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input asp-for="Titulo" class="form-control" type="text" />
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Descripción<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea asp-for="Descripcion" id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Subtitulo<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea asp-for="Subtitulo" id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                    <span asp-validation-for="Subtitulo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Cuerpo de la noticia<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea asp-for="Cuerpo" id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                    <span asp-validation-for="Cuerpo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type='submit' value="Save" class="btn btn-primary">Guardar</button>
                                        <button type='reset' class="btn btn-success">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
