@model CopecoWebSite.Models.SliderHome

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdministration";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Carousel</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Detalles de slide</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <a asp-action="Index" class="btn btn-app">
                                <i class="fa fa-reply"></i> Volver
                            </a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="col-md-7 col-sm-7 ">
                            <div class="product-image">
                                <img src="~/img/Noticias/@(Model.Id + "." + @Model.Extension)"  asp-append-version="true" />
                                @*<img src="~/img/default-featured-image.png" alt="..." />*@
                            </div>
                            @*<div class="product_gallery">
                                <a>
                                <img src="~/img/default-featured-image.png" alt="..." />
                                </a>
                                <a>
                                <img src="~/img/default-featured-image.png" alt="..." />
                                </a>
                                <a>
                                <img src="~/img/default-featured-image.png" alt="..." />
                                </a>
                                <a>
                                <img src="~/img/default-featured-image.png" alt="..." />
                                </a>
                                </div>*@
                        </div>

                        <h3 class="prod_title">@Html.DisplayFor(model => model.Nombre)</h3>

                        <p>@Html.DisplayFor(model => model.Descripcion).</p>
                        <div class="col-md-5 col-sm-5 " style="border:0px solid #e5e5e5;">
                            <div class="">
                                <h2> Fecha de subida</h2>
                                <ul class="list-inline prod_size display-layout">
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">@Html.DisplayFor(model => model.FechaSubida)</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

