@model CopecoWebSite.Models.Usuario

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdministration";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Usuarios</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Editar usuario</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <a asp-action="Index" class="btn btn-app">
                                <i class="fa fa-reply"></i> Volver
                            </a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Edit">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                             <input type="hidden" asp-for="Id" />
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Correo/Usuario<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input asp-for="UsuarioCorreo" class="form-control" type="email" />
                                    <span asp-validation-for="UsuarioCorreo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Correo/Usuario<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input asp-for="Contraseña" class="form-control" type="password" />
                                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Nombre de empleado<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input asp-for="NombreUsuario" class="form-control" type="text" />
                                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type='submit' value="Save" class="btn btn-primary">Guardar</button>
                                        <button type='reset' class="btn btn-success">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
