@{
    Layout = "_LayoutAdministration";
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Inicio</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">

                    <div class="x_content">
                        <img src="~/img/HORMIGUITA COPECO NUEVA-01.png" alt="" width="400" height="341">
                        <img src="~/img/HORMIGUITA COPECO NUEVA-04.png" alt="" width="400" height="341">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



